*{
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;   
}

body{
    background:linear-gradient(to right,rgb(253, 232, 173) ,rgb(129, 219, 189)); 
    overflow: hidden;
    margin: 0;
    /*overflow: hidden;*/ 
}

nav{
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    min-height: 8vh;
    background: none; 

}



.logo, div{
    justify-content: flex-start; 
}

.logo{
    color: white;  
    width: 50px; 
    height: 50px;
    text-align: center; 
    
}

.nav-links{
    display: flex; 
    justify-content: space-around;
    width: 40%;  
}

.nav-links, li{
    list-style: none;
    margin-top: 5px; 
}
.nav-links, a{
    color:rgb(226, 226, 226); 
    text-decoration: none; 
    text-align: center; 
    
}

.nav-links, a, p{
    font-family: 'Lato', sans-serif;
    margin: 2px; 
    letter-spacing: 3px;
    font-weight: lighter;  
    font-size: 10px; 
}


.burger{
    display: none;
    cursor: pointer;  
}
.burger div {
    width:25px; 
    height:2px;
    background-color: aliceblue; 
    margin: 5px; 
    transition: all 0.3s ease; 
}



/*SECCIONES  ---------------------------------*/

#s_servicios { 
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    left: -100%;
    visibility: hidden;
    z-index:-1;
    bottom: 0px;
}

#s_contacto { 
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    right: -100%;
    visibility: hidden;
    z-index:-1;
    bottom: 0px;
}

#s_tienda { 
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); 
    bottom: -100%;
    visibility: hidden;
    z-index:-1;
    
}



#s_exploraiones {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    position: absolute;
    top: -100%;
    visibility: hidden;
    z-index:-1;
}

.items {
    font-family: 'Lato', sans-serif;
    margin-top: 50vh; 
    letter-spacing: 3px;
    font-weight: lighter;  
    font-size: 50px; 
    text-align: center;
    color: rgba(226, 226, 226);  
    
}


/*-----------------------------------------*/


/*Responsive--------------------------------------*/

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;  
    }
}

@media screen and (max-width:768px){

    body{
        overflow-x: hidden; 
    }
    .nav-links{
        position: absolute; 
        right: 0px; 
        height: 62vh; 
        top: 8vh; 
        background-color:rgba(77, 72, 72, 0.212); 
        display: flex; 
        flex-direction: column;
        align-items: center; 
        width: 35%; 
        transform: translateX(100%);
        transition: transform 0.5s ease-in; 
        border-radius: 5px; 

    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block; 
    }

    
}

.nav-active{
    transform: translateX(0%); 
}

/*Mobile Menu anumation---------------------*/
@keyframes navLinkFade{
    from{
        opacity: 0; 
        transform: translateX(50px); 
    }
    to{
        opacity: 1;
        transform: translateX(0px); 
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px); 
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px); 
}
